.HatebuSearchList-body {
    margin-top: 0.3rem;
}

.HatebuSearchListItem-body {
    border: 1px #ddd solid;
    display: flex;
    word-break: break-all;
    flex-direction: row;
    padding: 0.5rem 0.3rem;
}

.HatebuSearchListItem-main {
    flex: 7;
    border-right: 1px #ddd solid;
    /* align vertical */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.HatebuSearchListItem-title {
    padding: 0 0.3rem;
    text-align: left;
}

.HatebuSearchListItem-description {
    padding: 0 0.3rem;
    text-align: left;
}

.HatebuSearchListItem-timestamp {
    padding: 0 0.3rem;
    flex: 1;
    text-align: right;
}

.HatebuSearchList-searchBoxInput {
    /* iOS zoom disabling size*/
    font-size: 16px;
}
