.UserForm-body {
    display: flex;
    align-items: center;
}

.UserForm-left {
    flex: 1;
    height: 36px;
}

.UserForm-right {
    flex-shrink: 1;
    width: 96px;
    height: 36px;
}

.UserForm-textFieldInput {
    /* iOS zoom disabling size*/
    font-size: 16px;
}
