.UserForm-body {
    display: flex;
    align-items: center;
}

.UserForm-left {
    flex: 1;
    height: 32px;
}

.UserForm-right {
    flex-shrink: 1;
    min-width: 96px;
    max-width: 124px;
    height: 32px;
    /* center */
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.UserForm-textFieldInput {
    /* iOS zoom disabling size*/
    font-size: 16px;
}
