.UserForm-body {
    display: flex;
    align-items: center;
}

.UserForm-textField {
    flex: 1;
}

.UserForm-submitButton {
    flex-shrink: 1;
}

.UserForm-textFieldInput {
    /* iOS zoom disabling size*/
    font-size: 16px;
}
